.whatsPage{
    display: grid;
    place-content: center;
    min-height: 100vh;
    padding-bottom: 30px;
}
.whats{
    padding: var(--size-3);
    display: grid; 
    align-items: center;
    gap:var(--size-2);
    background-color: #fff;
    border-radius: 5px;
    min-height: 90vh;
    width: 90vw;
    background-image: url(./img-bg-1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}
@media (max-width: 1100px){
    .whats{
        background-image: url(./img-bg-2.svg);
        background-position: center;
    }
}
.whats-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 100%;
}
@media (max-width: 1100px){
    .whats-items{
    grid-template-columns: 1fr;
    align-items: center;
    }
}
.side-2-whats{
    display: grid;
    justify-content: start;
    align-items: end;
}
.whats-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
}
.whats-info > div h1{
    line-height: 1.3;
    color: var(--color-1);
}
@media (max-width: 950px){
    .whats-info > div h1{
        font-size: 1.5rem;
    }
}
.btn-whats{
    padding: 10px;
    background: var(--color-1);
    display: grid;
    grid-template-columns: auto 50px auto;
    align-items: center;
    gap: 15px;
    max-width: max-content;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--color-3);
    border-radius: 5px;
}
.btn-whats:hover{
    background: #f7f7f7;
}
.whats-icon{
    max-width: 30px;
}
.arrow-contain{
    position: relative;
    display: flex;
    align-items: center;
}
.arrow{
    animation: seta 0.5s ease-in 0s infinite alternate;
    position: absolute;
    font-size: 2rem;
}
@keyframes seta {
    from {
      right: 10px;
    }
    to {
      right: 20px;
    }
  } 